.body{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(41, 49, 46, 0.534);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    place-items: center;
}

.modalContent{
    text-align: center;
    background-color: #282c34;
    padding: 1rem;
    box-shadow: 0px 0px 6px white;
    border-radius: 10px;
}

.button>a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}